
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Expires" CONTENT="-1">           
    <meta http-equiv="Cache-Control" CONTENT="no-cache">           
    <meta http-equiv="Pragma" CONTENT="no-cache">      
	<title>boyn--个人简历</title>
<!-- 	<link href='http://fonts.useso.com/css?family=Open+Sans:300,400,600&subset=latin,latin-ext' rel='stylesheet'>
 -->	<link rel="stylesheet" href="/static/css/reset.css">
	<link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
	<article>
		<div class="scroll" style="display:none">
			<section id="s1" class="active_page">
				<div class="s1_over"></div>
				<div class="s1_content">
					<div class="cover_intro">
						<p class="s1_name">Boyang Yu</p>
						<p class="s1_detail">Front End | boyn.yu@gmail.com</p>
					</div>
				</div>
			</section>
			<section id="s2">
				<div class="s2_head"></div>
				<div class="s2_detail">
					<div class="s2_name">
						<p>郁勃阳</p>
					</div>
					<div class="s2_about">
						<p>对前端开发有极大的热情，在工作的一年中，使用过jQuery、Underscore、Angular配合模板引擎与Node进行前后端分离的项目开发，使用过Echarts、Highcharts等框架进行数据可视化。</p>
					</div>
				</div>
			</section>
			<section id="s3">
 				<div class="s3_content">
					<h3>项目经历</h4>
					<div class="s3_content_block">
						<div class="home_block">
							<h4>金山云官网开发</h4>
							<div class="home_content">
								<img src="/static/img/home.png" alt="">
								<p>由于老官网没有实现前后端分离，维护困难，迭代缓慢，所以前端完全重构。</p>
							</div>
						</div>
						<div class="rds_block">
							<h4>金山云rds控制台开发 </h4>
							<div class="rds_content">
								<p>Rds是在线数据库服务，2014年7月独立开发第一版基于Node和Angular的可视化Rds控制台，并与2014年9月参与第一次改版，在2015年5月主导前端基于Node和jQuery的第二次改版。</p>
								<img src="/static/img/rds.png" alt="">
							</div>
						</div>
					</div>
				</div>
			</section>
			<section id="s4">
				<div class="s3_content">
					<div class="home_block">
						<h4>金山云官网mfa功能开发</h4>
						<div class="home_content mfa">
							<img src="/static/img/mfa.gif" alt="">
							<p>为了保证用户帐号安全为帐号添加了手机安全令的功能，通过web端与手机app联动，自动生成安全密钥进行登录。项目中主导整个mfa功能的前后端开发。</p>
						</div>
					</div>
					<div class="kvm_block">
						<h4>金山云kvm控制台开发</h4>
						<div class="kvm_content">
							<p>kvm是金山云的核心产品线，主要提供一个可视化的控制台，帮助用户对购买的主机进行管理。主要参与2014年4月基于Node和Angular的改版，由于第一次改版后采用纯前端渲染方案效率略差，于2015年2月采用后端模板渲染的方式进行了第二次改版。</p>
							<img src="/static/img/kvm.png" alt="">
						</div>
					</div>
				</div>
			</section>
			<section id="s5">
				<div class="s5_content">
					<h3>作品介绍</h3>
					<div class="s3_content_block">
						<div class="home_block node_pro">
							<h4>nodeProxy</h4>
							<div class="home_content">
								<p>基于Nodejs实现的前后端分离方案，实现前端Mock数据及接口的自动代理。</p>
								<img src="/static/img/node_icon.png" alt="">
							</div>
							<a class="git_link" href="https://github.com/ybyyuboyang/nodeProxy">https://github.com/ybyyuboyang/nodeProxy</a>
						</div>
						<div class="home_block angular_pro">
							<h4>nodeProxy</h4>
							<div class="home_content">
								<p>基于NodeJs、socket.io和Angular搭建的群聊天室。</p>
								<img src="/static/img/angular_icon.png" alt="">
							</div>
							<a class="git_link" href="https://github.com/ybyyuboyang/Ychart">https://github.com/ybyyuboyang/Ychart</a>
						</div>
						<div class="home_block php_pro">
							<h4>performance</h4>
							<div class="home_content">
								<p>为北京地矿开发的基于php的绩效考核系统。</p>
								<img src="/static/img/php.png" alt="">
							</div>
							<a class="git_link" href="https://github.com/ybyyuboyang/Performance">https://github.com/ybyyuboyang/Performance</a>
						</div>

					</div>
			</section>
			<section id="s6">
				<div class="s6_content">
					<div class="s6_connect">
						<img src="/static/img/connect.png" alt="">
					</div>
					<p class="s6_phone">18614042060</p>
					<p class="s6_email">boyn.yu@gmail.com</p>
				</div>
			</section> 

		</div>
		<div class="page-up">
			<i class="turn_up"></i>
		</div>
	</article>
	<div class="load">loading...</div>

	<script src="/static/js/resume/zepto.js"></script>
	<script src="/static/js/resume/index.js"></script>
</body>
</html>